<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Lead.css">
    <link rel="stylesheet" href="/css/table.css">
    <link href="/font/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/image/logo-black.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Khách hàng tiềm năng</title>
</head>

<body>
    <div class="main">
        <header>
            <!-- header__main -->
            <div class="header__main">
                <!-- header__first -->
                <div class="header__first">
                    <div class="header__first-logo">
                        <a class="header__first-logo-link breadcrumb-item" href="/">
                            <img src="/image/logo-black.png" alt="">
                        </a>

                        <div class="breadcrumb">
                            <a id="breadcrumb-item-CRM" href="/crm" class="breadcrumb-item">CRM</a>
                            <a href="/lead" class="breadcrumb-item active">Khách hàng tiềm năng</a>
                        </div>
                    </div>
                    <!-- header__first-input -->
                    <div class="header__first-input">
                        <form class="header__first-form" action="">
                            <input class="header__first-form-input" type="text" name=""
                                placeholder="Tìm Kiếm Hoặc Gõ Lệnh (Ctrl + G)">
                            <button class="header__first-form-btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- header__second -->
                <div class="header__second">
                    <ul class="header__second-list">
                        <li class="header__second-item"><i class="fa-regular fa-bell"></i></li>
                        <li class="header__second-item">|</i></li>
                        <li class="header__second-item help"><a href="#">Trợ Giúp <i
                                    class="fas fa-chevron-down"></i></a></li>
                        <form action="/logout" method="post" style="display: inline;" id="logoutForm">
                            <li class="header__second-item"><label for="logout" class="fas fa-user-circle"></label>
                                <input type="checkbox" name="" class="ohyes" id="logout" hidden>
                                <label for="logout" class="overlay1"></label>
                                <ul class="logout">
                                    <!-- <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li> 
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li> -->
                                    <li>
                                        <a href="#"
                                            onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
        </header>

        <!-- nav -->
        <nav>
            <div class="nav__main">
                <!-- nav__first -->
                <div class="nav__first">
                    <div class="nav__first-list-PC">
                        <li class="nav__first-item"><i class="fa-solid fa-bars toggle_menu"></i></li>
                        <li class="nav__first-item">
                            <span class="nav__first-item-span">Khách hàng tiềm năng</span>
                        </li>
                    </div>

                    <!-- nav_mobile -->
                    <ul class="nav__first-list-MOBILE">
                        <li class="nav__first-item"><label for="nav-mobile-input" class="fa-solid fa-bars"></label></li>
                        <li class="nav__first-item">
                            <span class="nav__first-item-span">KHTN</span>
                        </li>
                    </ul>

                    <input type="checkbox" name="" class="ohno" id="nav-mobile-input" hidden>
                    <label for="nav-mobile-input" class="overlay"></label>
                    <div class="sidebar__mobile">
                        <div class="sidebar__first">
                            <ul class="sidebar__list">
                                <li class="sidebar__title">Lọc theo</li>
                                <li class="sidebar__list-item">
                                    <select name="assigned_for" id="assigned_for" onchange="this.form.submit()">
                                        <option value="" <%=!query.assigned_for ? 'selected' : '' %>>Tất cả</option>
                                        <% userEmails.forEach(function(email) { %>
                                            <option value="<%= email %>" <%=query.assigned_for===email ? 'selected' : ''
                                                %>>
                                                <%= email %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </li>
                                <li class="sidebar__list-item">
                                    <label for="created_by">Được tạo bởi</label>
                                    <select name="created_by" id="created_by" onchange="this.form.submit()">
                                        <option value="" <%=!query.created_by ? 'selected' : '' %>>Tất cả</option>
                                        <% userEmails.forEach(function(email) { %>
                                            <option value="<%= email %>" <%=query.created_by===email ? 'selected' : ''
                                                %>>
                                                <%= email %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </li>
                                <li class="sidebar__title-link"><a href="#">Chỉnh sửa bộ lọc</a></li>
                                <li class="sidebar__list-item"><a href="#">Nhãn <i
                                            class="fa-solid fa-chevron-down"></i></a>
                                </li>
                                <li class="sidebar__title-link"><a href="#">Hiện nhãn</a></li>
                            </ul>
                        </div>

                        <div class="sidebar__second">
                            <ul class="sidebar__list">
                                <li>
                                <li class="sidebar__title">Lưu bộ lọc</li>
                                <li><input class="sidebar__input" type="text" name="" id="" placeholder="Tên bộ lọc">
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- nav__second -->
                <div class="nav__second">
                    <div class="nav__second-l">
                        <!-- <button class="see-list" type="submit"><i class="fa-solid fa-list"></i> Xem Kiểu Danh Sách <i
                                class="fa-solid fa-chevron-down"></i></button> -->
                    </div>
                    <div class="nav__second-r">
                        <button class="reset" type="submit"><i class="fa-solid fa-rotate-right"></i></button>
                        <button class="dot" type="submit">. . .</button>
                        <input class="taochiu" type="checkbox" name="" id="vcl" hidden>
                        <button class="add-KHTN" type="submit"><a href="/add-lead">+ Thêm Khách hàng tiềm
                                năng</a></button>
                        <div class="action__insert_delete">
                            <label for="action">Hành động <i class="fa-solid fa-chevron-down"></i></label>
                            <input type="checkbox" class="ohno_b_yes" id="action" hidden>
                            <label for="action" class="overlay2"></label>
                            <ul class="action">
                                <!-- Other actions if any -->
                                <li><a href="#" onclick="editSelectedLead(); return false;">Sửa</a></li>
                                <li><a href="#" onclick="deleteSelectedLeads(); return false;">Xóa</a></li>
                                <!-- Other actions if any -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>

        <!-- content -->
        <form method="get" action="/lead">
            <div class="content">
                <!-- sidebar -->
                <div class="sidebar">
                    <div class="sidebar__first">
                        <ul class="sidebar__list">
                            <li class="sidebar__title">Lọc theo</li>
                            <li class="sidebar__list-item">
                                <select name="assigned_for" id="assigned_for" onchange="this.form.submit()">
                                    <option value="" <%=!query.assigned_for ? 'selected' : '' %>>Tất cả</option>
                                    <% userEmails.forEach(function(email) { %>
                                        <option value="<%= email %>" <%=query.assigned_for===email ? 'selected' : '' %>>
                                            <%= email %>
                                        </option>
                                        <% }); %>
                                </select>
                            </li>
                            <li class="sidebar__list-item">
                                <label for="created_by">Được tạo bởi</label>
                                <select name="created_by" id="created_by" onchange="this.form.submit()">
                                    <option value="" <%=!query.created_by ? 'selected' : '' %>>Tất cả</option>
                                    <% userEmails.forEach(function(email) { %>
                                        <option value="<%= email %>" <%=query.created_by===email ? 'selected' : '' %>>
                                            <%= email %>
                                        </option>
                                        <% }); %>
                                </select>
                            </li>
                            <li class="sidebar__title-link"><a href="#">Chỉnh sửa bộ lọc</a></li>
                            <li class="sidebar__list-item"><a href="#">Nhãn <i class="fa-solid fa-chevron-down"></i></a>
                            </li>
                            <li class="sidebar__title-link"><a href="#">Hiện nhãn</a></li>
                        </ul>
                    </div>

                    <div class="sidebar__second">
                        <ul class="sidebar__list">
                            <li>
                            <li class="sidebar__title">Lưu bộ lọc</li>
                            <li><input class="sidebar__input" type="text" name="" id="" placeholder="Tên bộ lọc"></li>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- content__main -->
                <div class="content__main">
                    <div class="c2_KHTN">


                        <!-- header -->
                        <div class="content-header">
                            <div class="content-header__first">
                                <div class="header-name">
                                    <input type="text" name="name" placeholder="Tên" value="<%= query.name || '' %>"
                                        onchange="this.form.submit()">
                                </div>
                                <div class="header-status">
                                    <select name="status" onchange="this.form.submit()">
                                        <option value="" <%=!query.status ? 'selected' : '' %>>Tất cả trạng thái
                                        </option>
                                        <option value="potential" <%=query.status==='potential' ? 'selected' : '' %>
                                            >KHTN</option>
                                        <option value="open" <%=query.status==='open' ? 'selected' : '' %>>Đang mở
                                        </option>
                                        <option value="responded" <%=query.status==='responded' ? 'selected' : '' %>>Đã
                                            phản hồi</option>
                                        <option value="opportunity" <%=query.status==='opportunity' ? 'selected' : '' %>
                                            >Cơ hội</option>
                                        <option value="quote" <%=query.status==='quote' ? 'selected' : '' %>>Báo giá
                                        </option>
                                        <option value="lost-quote" <%=query.status==='lost-quote' ? 'selected' : '' %>
                                            >Mất báo giá</option>
                                        <option value="care" <%=query.status==='care' ? 'selected' : '' %>>Quan tâm
                                        </option>
                                        <option value="convert" <%=query.status==='convert' ? 'selected' : '' %>>Chuyển
                                            đổi</option>
                                        <option value="no_contact" <%=query.status==='no_contact' ? 'selected' : '' %>
                                            >Không liên hệ</option>
                                        <!-- Add other statuses as needed -->
                                    </select>
                                </div>
                                <div class="header-title">
                                    <input type="text" name="code" placeholder="Mã số" value="<%= query.code || '' %>"
                                        onchange="this.form.submit()">
                                </div>
                            </div>


                            <div class="content-header__second">
                                <div class="header__Down_up">
                                    <!-- Sorting Direction Button -->
                                    <button class="header_btn_down-up" type="submit" name="sortOrder"
                                        value="<%= query.sortOrder === 'ASC' ? 'DESC' : 'ASC' %>">
                                        <% if (query.sortOrder==='ASC' ) { %>
                                            <i class="fas fa-sort-amount-up"></i>
                                            <% } else { %>
                                                <i class="fas fa-sort-amount-down"></i>
                                                <% } %>
                                    </button>

                                    <!-- Sorting Field Selector -->
                                    <select class="header_btn_filter" name="sortField" onchange="this.form.submit()">
                                        <option value="updated_at" <%=query.sortField==='updated_at' ? 'selected' : ''
                                            %>
                                            >Sửa lần cuối vào</option>
                                        <option value="name" <%=query.sortField==='name' ? 'selected' : '' %>>Tên
                                        </option>
                                        <option value="created_at" <%=query.sortField==='created_at' ? 'selected' : ''
                                            %>>
                                            Ngày tạo
                                        </option>
                                        <option value="code" <%=query.sortField==='code' ? 'selected' : '' %>>Mã số
                                        </option>
                                        <option value="organization" <%=query.sortField==='organization' ? 'selected'
                                            : '' %>>Tên tổ chức
                                        </option>
                                        <option value="owner" <%=query.sortField==='owner' ? 'selected' : '' %>>Người sở
                                            hữu
                                            tiềm năng
                                        </option>
                                        <option value="status" <%=query.sortField==='status' ? 'selected' : '' %>>Trạng
                                            thái
                                        </option>
                                        <option value="next_at" <%=query.sortField==='next_at' ? 'selected' : '' %>>Ngày
                                            liên hệ tiếp theo
                                        </option>
                                        <option value="end_at" <%=query.sortField==='end_at' ? 'selected' : '' %>>Kết
                                            thúc
                                            vào
                                        </option>
                                        <!-- Add other fields as needed -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="content-all">
                            <table class="datatable">
                                <thead>
                                    <tr>
                                        <th><input id="check_all" type="checkbox"></th>
                                        <th>Tên</th>
                                        <th>Tên tổ chức</th>
                                        <th>Người sở hữu tiềm năng</th>
                                        <th>Trạng thái</th>
                                        <th>Mã số</th>
                                        <th>Được giao cho</th>
                                        <th>Sửa lần cuối vào</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (dataUser && dataUser.length> 0) { %>
                                        <% for (let i=0; i < dataUser.length; i++) { %>
                                            <tr class="even_col">
                                                <td><input class="abcd" type="checkbox" name="row-check"
                                                        value="<%= dataUser[i].id %>"></td>
                                                <td>
                                                    <div class="title_data">
                                                        <%=dataUser[i].name %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%=dataUser[i].organization %>
                                                </td>
                                                <td>
                                                    <%=dataUser[i].owner %>
                                                </td>
                                                <td>
                                                    <% if (dataUser[i].status==='potential' ) { %>
                                                        <div class="lead_data"><span
                                                                class="data__status-dot data_lead">&#8226;</span><span
                                                                class="data__status-content data_lead">Khách hàng tiềm
                                                                năng</span></div>
                                                        <% } else if (dataUser[i].status==='open' ) { %>
                                                            <div class="lead__open-data"><span
                                                                    class="data__status-dot data_open">&#8226;</span><span
                                                                    class="data__status-content data_open">Đang
                                                                    mở</span>
                                                            </div>
                                                            <% } else if (dataUser[i].status==='responded' ) { %>
                                                                <div class="lead_data"><span
                                                                        class="data__status-dot">&#8226;</span><span
                                                                        class="data__status-content">Đã phản hồi</span>
                                                                </div>
                                                                <% } else if (dataUser[i].status==='opportunity' ) { %>
                                                                    <div class="lead_data"><span
                                                                            class="data__status-dot">&#8226;</span><span
                                                                            class="data__status-content">Cơ hội</span>
                                                                    </div>
                                                                    <% } else if (dataUser[i].status==='quote' ) { %>
                                                                        <div class="lead_data"><span
                                                                                class="data__status-dot">&#8226;</span><span
                                                                                class="data__status-content">Báo
                                                                                giá</span>
                                                                        </div>
                                                                        <% } else if (dataUser[i].status==='lost-quote'
                                                                            ) { %>
                                                                            <div class="lead_data"><span
                                                                                    class="data__status-dot">&#8226;</span><span
                                                                                    class="data__status-content">mất Báo
                                                                                    giá</span></div>
                                                                            <% } else if (dataUser[i].status==='care' )
                                                                                { %>
                                                                                <div class="lead_data"><span
                                                                                        class="data__status-dot">&#8226;</span><span
                                                                                        class="data__status-content">Quan
                                                                                        tâm</span></div>
                                                                                <% } else if
                                                                                    (dataUser[i].status==='convert' ) {
                                                                                    %>
                                                                                    <div class="lead__convert-data">
                                                                                        <span
                                                                                            class="data__status-dot data_convert">&#8226;</span><span
                                                                                            class="data__status-content data_convert">Chuyển
                                                                                            đổi</span>
                                                                                    </div>
                                                                                    <% } else if
                                                                                        (dataUser[i].status==='no_contact'
                                                                                        ) { %>
                                                                                        <div class="lead_data"><span
                                                                                                class="data__status-dot">&#8226;</span><span
                                                                                                class="data__status-content">Không
                                                                                                liên hệ</span></div>
                                                                                        <% } else { %>
                                                                                            <%= dataUser[i].status %>
                                                                                                <% } %>
                                                </td>
                                                <td>
                                                    <%=dataUser[i].code %>
                                                </td>
                                                <td>
                                                    <%= dataUser[i].assigned_for %>
                                                </td>
                                                <td>
                                                    <%= new Date(dataUser[i].updated_at).toLocaleString('vi-VN', {
                                                        timeZone: 'Asia/Ho_Chi_Minh' }) %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="6">Không tìm thấy lead nào.</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- script -->
    <script src="/js/lead.js">
    </script>
</body>

</html>