<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Lead.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/font/css/all.min.css" rel="stylesheet" />
    <script src="/js/lead.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Khách hàng tiềm năng</title>
</head>

<body>
    <div class="main">
        <header>
            <!-- header__main -->
            <div class="header__main">
                <!-- header__first -->
                <div class="header__first">
                    <div class="header__first-logo">
                        <a class="header__first-logo-link" href="./home.html">
                            <img src="/image/logo.jpeg" alt="">
                        </a>
                    </div>
                    <!-- header__first-input -->
                    <div class="header__first-input">
                        <form class="header__first-form" action="">
                            <input class="header__first-form-input" type="text" name=""
                                placeholder="Tìm Kiếm Hoặc Gõ Lệnh (Ctrl + G)">
                            <button class="header__first-form-btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- header__second -->
                <div class="header__second">
                    <ul class="header__second-list">
                        <li class="header__second-item"><i class="fa-regular fa-bell"></i></li>
                        <li class="header__second-item">|</i></li>
                        <li class="header__second-item help"><a href="#">Trợ Giúp <i
                                    class="fas fa-chevron-down"></i></a></li>
                        <li class="header__second-item"><i class="fas fa-user-circle"></i></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- nav -->
        <nav>
            <div class="nav__main">
                <!-- nav__first -->
                <div class="nav__first">
                    <ul class="nav__first-list-PC">
                        <li class="nav__first-item"><i class="fa-solid fa-bars toggle_menu"></i></li>
                        <li class="nav__first-item">
                            <span class="nav__first-item-span">Khách hàng tiềm năng</span>
                        </li>
                    </ul>

                    <!-- nav_mobile -->
                    <ul class="nav__first-list-MOBILE">
                        <li class="nav__first-item"><label for="nav-mobile-input" class="fa-solid fa-bars"></label></li>
                        <li class="nav__first-item">
                            <span class="nav__first-item-span">Trang Chủ</span>
                        </li>
                    </ul>
                    <input type="checkbox" name="" class="ohno" id="nav-mobile-input" hidden>
                    <label for="nav-mobile-input" class="overlay"></label>
                    <div class="sidebar__mobile">
                        <div class="sidebar__title">BỘ PHẬN</div>
                        <div class="sidebar__list">
                            <a class="sidebar__list-item sidebar__list-item-chosen" href="./home.html">Trang chủ</a>
                            <a class="sidebar__list-item" href="#">Kế toán</a>
                            <a class="sidebar__list-item" href="#">Tài Sản</a>
                            <a class="sidebar__list-item" href="#">Build</a>
                            <a class="sidebar__list-item" href="#">Mua hàng</a>
                            <a class="sidebar__list-item" href="./crm.html">CRM</a>
                            <a class="sidebar__list-item" href="#">Nhân Sự</a>
                            <a class="sidebar__list-item" href="#">Khoản Vay</a>
                            <a class="sidebar__list-item" href="#">Bảng Lương</a>
                            <a class="sidebar__list-item" href="#">Dự án</a>
                            <a class="sidebar__list-item" href="#">Chất lượng</a>
                            <a class="sidebar__list-item" href="#">Bán hàng</a>
                            <a class="sidebar__list-item" href="#">Kho</a>
                            <a class="sidebar__list-item" href="#">Hỗ trợ</a>
                            <a class="sidebar__list-item" href="#">Website</a>
                            <a class="sidebar__list-item" href="#">Cài Đặt</a>
                            <a class="sidebar__list-item" href="#">Tiện Ích</a>
                        </div>
                        <div class="sidebar__title">TÊN MIỀN</div>
                        <a class="sidebar__list-item" href="#">Sản xuất</a>
                        <div class="sidebar__title">QUẢN TRỊ</div>
                        <a class="sidebar__list-item" href="#">Tùy biến</a>
                        <a class="sidebar__list-item" href="#">Tích hợp</a>
                        <a class="sidebar__list-item" href="#">Công cụ</a>
                        <a class="sidebar__list-item" href="#">Người sử dụng</a>
                    </div>
                </div>

                <!-- nav__second -->
                <div class="nav__second">
                    <div class="nav__second-l">
                        <button class="see-list" type="submit"><i class="fa-solid fa-list"></i> Xem Kiểu Danh Sách <i
                                class="fa-solid fa-chevron-down"></i></button>
                    </div>
                    <div class="nav__second-r">
                        <button class="reset" type="submit"><i class="fa-solid fa-rotate-right"></i></button>
                        <button class="dot" type="submit">. . .</button>
                        <button class="add-KHTN" type="submit"><a href="/add-lead">+ Thêm Khách hàng tiềm
                                năng</a></button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- content -->
        <div class="content">
            <!-- sidebar -->
            <div class="c1_KHTN">
                <div class="c1_KHTN-content1">
                    <li class="c1_sidebar-label">Lọc Theo</li>
                    <div class="filter">
                        <li class="filter-1"><a href="#">Được giao cho <i class="fa-solid fa-chevron-down"></i></a></li>
                        <li class="filter-1"><a href="#">Được tạo bởi <i class="fa-solid fa-chevron-down"></i></a></li>
                    </div>
                    <li class="c1_sidebar-label1"><a href="#">Chỉnh sửa bộ lọc</a></li>
                    <div class="label">
                        <li class="label-1"><a href="#">Nhãn <i class="fa-solid fa-chevron-down"></i></a></li>
                    </div>
                    <li class="c1_sidebar-label1"><a href="#">Hiện nhãn</a></li>
                </div>

                <div class="c2_KHTN-content2">
                    <li class="c2_sidebar-label">Lưu bộ lọc</li>
                    <input class="c2_sidebar-input" type="text" name="" id="" placeholder="Tên bộ lọc">
                </div>
            </div>

            <!-- content__main -->
            <div class="content__main">
                <div class="c2_KHTN">
                    <!-- header -->
                    <div class="content-header">
                        <div class="content-header__first">
                            <div class="header-name"><input type="text" name="" id="" placeholder="Tên"></div>
                            <div class="header-status">
                                <select name="cars" id="cars" placeholder="Tên">
                                    <option value="#"></option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi <i class="fa-solid fa-chevron-down"></i></option>
                                </select>
                            </div>
                            <div class="header-title"><input type="text" name="" id="" placeholder="Tiêu đề"></div>
                        </div>

                        <div class="content-header__second">
                            <div class="header_filter">
                                <button type="submit"><i class="fas fa-filter"></i> Bộ lọc</button>
                            </div>

                            <div class="header__Down_up">
                                <button class="header_btn_down-up" type="submit"><i
                                        class="fas fa-sort-amount-down"></i></button>
                                <button class="header_btn_filter" type="submit">Sửa lần cuối vào</button>
                            </div>
                        </div>

                    </div>
                    <!-- ZERO -->
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                            <tr class="w3-light-grey">
                                <th>Tiêu đề</th>
                                <th>Tên tổ chức</th>
                                <th>Người sở hữu tiềm năng</th>
                                <th>Trạng thái</th>
                                <th>Tên</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <% for(let i=0; i < dataUser.length; i++) { %>
                            <tr>
                                <td>
                                    <%=dataUser[i].name %>
                                </td>
                                <td>
                                    <%=dataUser[i].organization %>
                                </td>
                                <td>
                                    <%=dataUser[i].owner %>
                                </td>
                                <td>
                                    <%=dataUser[i].status %>
                                </td>
                                <td>
                                    <%=dataUser[i].code %>
                                </td>
                                <td style="display: flex; gap: 15px;">
                                    <form>
                                        <a class="btn-detail" href="/detail/user/<%= dataUser[i].id %>"
                                            target="_blank">Detail</a>
                                    </form>
                                    <form action="/edit-lead/<%= dataUser[i].id %>" method="GET">
                                        <button type="submit">Edit</button>
                                    </form>
                                    <form action="/delete-lead" method="POST">
                                        <input type="text" hidden value="<%= dataUser[i].id %>" name="userId" />
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                                </tbody>
                </div>
            </div>

        </div>
    </div>
    <script>
        const sidebar = document.querySelector('.c1_KHTN');
        const toggle_menu = document.querySelector('.toggle_menu');
        const content = document.querySelector('.content__main');
        const content6 = document.querySelector('.content__main-list-shortcut');
        const content1 = document.querySelector('.one');
        const content2 = document.querySelector('.two');
        const content3 = document.querySelector('.three');
        const content4 = document.querySelector('.four');
        const content5 = document.querySelector('.five');


        toggle_menu.onclick = function () {
            sidebar.classList.toggle('hide');
            content.classList.toggle('expand');
            content1.classList.toggle('expand');
            content2.classList.toggle('expand');
            content3.classList.toggle('expand');
            content4.classList.toggle('expand');
            content5.classList.toggle('expand');
            content6.classList.toggle('expand');
        }
    </script>
</body>

</html>