<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add_Lead.css">
    <link href="./font/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Thêm khách hàng tiềm năng</title>
</head>

<body>
    <div class="main">
        <!-- header -->
        <header>
            <!-- header__main -->
            <div class="header__main">
                <!-- header__first -->
                <div class="header__first">
                    <div class="header__first-logo">
                        <a class="header__first-logo-link" href="./home.html">
                            <img src="./img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- header__first-input -->
                    <div class="header__first-input">
                        <form class="header__first-form" action="">
                            <input class="header__first-form-input" type="text" name=""
                                placeholder="Tìm Kiếm Hoặc Gõ Lệnh (Ctrl + G)">
                            <button class="header__first-form-btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- header__second -->
                <div class="header__second">
                    <ul class="header__second-list">
                        <li class="header__second-item"><i class="fa-regular fa-bell"></i></li>
                        <li class="header__second-item">|</i></li>
                        <li class="header__second-item help"><a href="#">Trợ Giúp <i
                                    class="fas fa-chevron-down"></i></a></li>
                        <li class="header__second-item"><i class="fas fa-user-circle"></i></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- nav -->
        <form action="/update-lead" method="post">
            <nav>
                <div class="nav__main">
                    <!-- nav__first -->
                    <div class="nav__first">
                        <ul class="nav__first-list-PC">
                            <li class="nav__first-item"><i class="fa-solid fa-bars toggle_menu"></i></li>
                            <li class="nav__first-item">
                                <span class="nav__first-item-span">Thêm khách hàng tiềm năng</span>
                            </li>
                        </ul>
                        <ul class="nav__first-list-MOBILE">
                            <li class="nav__first-item"><label for="nav-mobile-input" class="fa-solid fa-bars"></label>
                            </li>
                            <li class="nav__first-item">
                                <span class="nav__first-item-span">Thêm khách hàng tiềm năng</span>
                            </li>
                        </ul>
                    </div>

                    <!-- nav__second -->
                    <div class="nav__second">
                        <button type="submit" value="Lưu">Lưu</button>
                    </div>
                </div>
            </nav>

            <!-- content -->
            <div class="content">
                <!-- sidebar -->
                <div class="c1_KHTN">

                </div>

                <!-- content__main -->
                <div class="content__main">
                    <div class="content__row_first">
                        <input type="checkbox" name="" id="">
                        <span>Khách hàng tiềm năng là một tổ chức</span>
                    </div>
                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Mã số</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.code%>" type="text" name="code" id="">

                            </div>
                            <div class="title__column_two"><label for="">Tên người *</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.name%>" type="text" name="name" id="">
                            </div>
                            <div class="title__column_two"><label for="">Tên tổ chức</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.organization%>" type="text" name="organization" id="">
                            </div>
                            <div class="title__column_two"><label for="">Địa chỉ email</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.email%>" type="email" name="email" id="">
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Người sở hữu tiềm năng</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.owner%>" type="text" name="owner" id="">
                            </div>
                            <div class="title__column_two"><label for="">Trạng thái *</label></div>
                            <div class="row_two__select">
                                <select value="<%= dataUser.status%>" name="status" id="">
                                    <option value="potential">Khách hàng tiềm năng</option>
                                    <option value="open">Đã mở</option>
                                    <option value="responded">Đã phản hồi</option>
                                    <option value="opportunity">Cơ hội</option>
                                    <option value="quote">Báo giá</option>
                                    <option value="lost-quot">Mất Báo giá</option>
                                    <option value="care">Quan tâm</option>
                                    <option value="">Chuyển đổi</option>
                                    <option value="">Không liên hệ</option>
                                </select>
                            </div>
                            <div class="title__column_two"><label for="">Xưng hô</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Chức năng</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Giới tính</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Nguồn</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Chiến dịch</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                        </div>


                    </div>
                    <!-- cop -->

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <h4>Theo sát</h4>
                            <div class="title__column_two"><label for="">Liên hệ tiếp theo bằng</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Ngày liên hệ tiếp theo</label></div>
                            <div class="row_two__input">
                                <input type="date" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Kết thúc vào</label></div>
                            <div class="row_two__input">
                                <input type="date" name="" id="">
                            </div>
                        </div>
                    </div>

                    <div class="content__row_two">
                        <!-- Form 3 Ghi chú -->
                        <div class="collapsible-section">
                            <h2 class="section-title active">
                                Ghi Chú
                                <span class="toggle-icon">▼</span>
                            </h2>
                            <div class="section-content">
                                <div id="editor">
                                    <!-- Div chứa nội dung ghi chú đã chỉnh sửa bằng quill-->
                                </div>
                                <input type="hidden" name="notes" id="notes-input">
                            </div>
                        </div>
                    </div>

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Loại địa chỉ</label></div>
                            <div class="row_two__select">
                                <select name="" id="">
                                    <option value="#">Thanh toán</option>
                                    <option value="#">vận chuyển</option>
                                    <option value="#">Văn phòng</option>
                                    <option value="#">Cá nhân</option>
                                    <option value="#">Nhà máy</option>
                                    <option value="#">Bưu chính</option>
                                    <option value="#">Cửa hàng</option>
                                    <option value="#">Chuyển đổi</option>
                                    <option value="#">Công ty con</option>
                                    <option value="#">Kho hàng</option>
                                    <option value="#">Hiện tại</option>
                                    <option value="#">Dài hạn</option>
                                    <option value="#">Khác</option>
                                </select>
                            </div>
                            <div class="title__column_two"><label for="">Tên địa chỉ</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Địa chỉ line 1</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Địa chỉ line 2</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Thành phố / thị xã</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Quận</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Tiểu bang</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Quốc gia</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="" value="việt nam">
                            </div>
                            <div class="title__column_two"><label for="">mã bưu chính</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="" value="">
                            </div>
                        </div>
                    </div>

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Chuyển tiếp</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Số điện thoại di động</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Fax</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Website</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                        </div>

                        <div class="content__column_two">

                        </div>
                    </div>

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Loại tiềm năng</label></div>
                            <div class="row_two__select">
                                <select name="" id="">
                                    <option value=""></option>
                                    <option value="one">Khách hàng</option>
                                    <option value="one">Đối tác</option>
                                    <option value="one">Tư vấn</option>
                                </select>
                            </div>
                            <div class="title__column_two"><label for="">Phân khúc thị trường</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Ngành công nghiệp</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="">
                            </div>
                            <div class="title__column_two"><label for="">Yêu cầu loại</label></div>
                            <div class="row_two__select">
                                <select name="" id="">
                                    <option value=""></option>
                                    <option value="#">Đặt hàng sản phẩm</option>
                                    <option value="#">Yêu cầu thông tin</option>
                                    <option value="#">Đề xuất</option>
                                    <option value="#">Khác</option>
                                </select>
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Công ty</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="" value="M-offer">
                            </div>
                            <div class="title__column_two"><label for="">Quốc gia</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="" value="việt nam">
                            </div>
                            <div class="title__column_two"><label for="">Ngôn ngữ in</label></div>
                            <div class="row_two__input">
                                <input type="text" name="" id="" value="in">
                            </div>
                            <div class="row_two__checkbox">
                                <input type="checkbox" name="" id="" value="in">
                                <label for="">Hủy đăng ký</label>
                            </div>
                            <div class="row_two__checkbox">
                                <input type="checkbox" name="" id="" value="in">
                                <label for="">Người theo dõi blog</label>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>

    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image', 'video'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['clean']
                ]
            }
        });

        // Khi form được gửi, cập nhật input ẩn với nội dung của editor
        document.querySelector('form').onsubmit = function () {
            document.getElementById('notes-input').value = quill.root.innerHTML;
        };

        // Cập nhật chức năng collapsible
        document.querySelectorAll('.section-title').forEach(function (title) {
            title.addEventListener('click', function () {
                this.classList.toggle('active');
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        });

        // Khởi tạo tất cả các phần tử section là mở
        document.querySelectorAll('.section-content').forEach(function (content) {
            content.style.maxHeight = content.scrollHeight + "px";
        });

        const sidebar = document.querySelector('.c1_KHTN');
        const toggle_menu = document.querySelector('.toggle_menu');
        const content = document.querySelector('.content__main');
        const content6 = document.querySelector('.content__main-list-shortcut');
        const content1 = document.querySelector('.one');
        const content2 = document.querySelector('.two');
        const content3 = document.querySelector('.three');
        const content4 = document.querySelector('.four');
        const content5 = document.querySelector('.five');


        toggle_menu.onclick = function () {
            sidebar.classList.toggle('hide');
            content.classList.toggle('expand');
            content1.classList.toggle('expand');
            content2.classList.toggle('expand');
            content3.classList.toggle('expand');
            content4.classList.toggle('expand');
            content5.classList.toggle('expand');
            content6.classList.toggle('expand');
        }
    </script>
</body>

</html>