<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add_Lead.css">
    <link href="/font/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <link rel="icon" href="/image/logo-black.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Thêm khách hàng tiềm năng</title>
</head>

<body>
    <div class="main">
        <!-- header -->
        <header>
            <!-- header__main -->
            <div class="header__main">
                <!-- header__first -->
                <div class="header__first">
                    <div class="header__first-logo">
                        <a class="header__first-logo-link breadcrumb-item" href="/">
                            <img src="/image/logo-black.png" alt="">
                        </a>

                        <div class="breadcrumb">
                            <a href="/crm" class="breadcrumb-item">CRM</a>
                            <a href="/lead" class="breadcrumb-item">Khách hàng tiềm năng</a>
                            <a class="breadcrumb-item active">
                                <%=dataUser.code%>
                            </a>
                        </div>
                    </div>
                    <!-- header__first-input -->
                    <div class="header__first-input">
                        <form class="header__first-form" action="">
                            <input class="header__first-form-input" type="text" name=""
                                placeholder="Tìm Kiếm Hoặc Gõ Lệnh (Ctrl + G)">
                            <button class="header__first-form-btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- header__second -->
                <div class="header__second">
                    <ul class="header__second-list">
                        <li class="header__second-item"><i class="fa-regular fa-bell"></i></li>
                        <li class="header__second-item">|</i></li>
                        <li class="header__second-item help"><a href="#">Trợ Giúp <i
                                    class="fas fa-chevron-down"></i></a></li>
                        <form action="/logout" method="post" style="display: inline;" id="logoutForm">
                            <li class="header__second-item"><label for="logout" class="fas fa-user-circle"></label>
                                <input type="checkbox" name="" class="ohyes" id="logout" hidden>
                                <label for="logout" class="overlay1"></label>
                                <ul class="logout">
                                    <!-- <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li> 
                                    <li><a href="#">Demo</a></li>
                                    <li><a href="#">Demo</a></li> -->
                                    <li>
                                        <a href="#"
                                            onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
        </header>

        <!-- nav -->
        <form action="/update-lead" method="post" enctype="multipart/form-data">
            <nav>
                <div class="nav__main">
                    <!-- nav__first -->
                    <div class="nav__first">
                        <ul class="nav__first-list-PC">
                            <li class="nav__first-item"><i class="fa-solid fa-bars toggle_menu"></i></li>
                            <li class="nav__first-item">
                                <span class="nav__first-item-span">Thêm khách hàng tiềm năng</span>
                            </li>
                        </ul>
                        <ul class="nav__first-list-MOBILE">
                            <li class="nav__first-item"><label for="nav-mobile-input" class="fa-solid fa-bars"></label>
                            </li>
                            <li class="nav__first-item">
                                <span class="nav__first-item-span">Thêm khách hàng tiềm năng</span>
                            </li>
                        </ul>
                    </div>

                    <!-- nav__second -->
                    <div class="nav__second">
                        <button type="submit" value="Lưu">Lưu</button>
                    </div>
                </div>
            </nav>

            <!-- content -->
            <div class="content">
                <!-- sidebar -->
                <div class="sidebar">
                    <div class="up__img">
                        <div class="profile-pic">
                            <% if(dataUser.profile_image) { %>
                                <img id="profileImage" src="/image/<%=dataUser.profile_image%>" alt="Profile Picture" />
                                <% } else {%>
                                    <img id="profileImage" src="/image/default.jpg" alt="Profile Picture" />
                                    <% } %>
                                        <div class="dropdown" onclick="document.getElementById('fileInput').click();">
                                            Thay đổi
                                            <i class="fas fa-caret-down"></i>
                                        </div>
                                        <div class="delete-btn" id="deleteBtn" onclick="deleteImage()">Xóa</div>
                        </div>
                        <input type="file" name="profile_image" id="fileInput" accept="image/*"
                            onchange="loadFile(event)" hidden>
                    </div>

                    <ul class="up__file">
                        <li class="file__title">Được giao cho</li>
                        <li class="file__link"><a href="">+</a></li>
                        <li class="file__title">File đính kèm</li>
                        <% if(dataUser.attachment) { %>
                            <ul id="file-name-display">
                                <%=dataUser.attachment%>
                            </ul>
                            <% } else {%>
                                <ul id="file-name-display"></ul>
                                <% } %>
                                    <li class="up__file-item">
                                        <label for="up_file-item"> <span>Tập tin đính kèm</span> <span>+</span></label>
                                        <input type="file" name="" id="up_file-item" hidden multiple>
                                    </li>
                                    <li class="file__title">Nhận xét</li>
                                    <li class="file__link"><a href="">+</a></li>
                                    <li class="file__title">Với chia sẻ</li>
                                    <li class="file__link"><a href="">+</a></li>
                                    <li class="file__title">Nhãn</li>
                                    <li class="file_input"><input type="text" name="" id=""
                                            placeholder="Thêm một đánh dấu ...">
                                    </li>
                    </ul>
                </div>

                <!-- content__main -->
                <div class="content__main">
                    <div class="content__row_first">
                        <input type="checkbox" name="is_company" id="" <%=dataUser.is_company=='1' ? 'checked' : '' %> >
                        <span>Khách hàng tiềm năng là một tổ chức</span>
                    </div>
                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Mã số</label></div>
                            <div class="row_two__select">
                                <select name="code" id="" value="<%= dataUser.code%>">
                                    <option>CRM-LEAD-.YYYY.-</option>
                                </select>
                            </div>
                            <div class="title__column_two"><label for="">Tên người *</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.name%>" type="text" name="name" id="">
                            </div>
                            <div class="title__column_two"><label for="">Tên tổ chức</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.organization%>" type="text" name="organization" id="">
                            </div>
                            <div class="title__column_two"><label for="">Địa chỉ email</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.email%>" type="email" name="email" id="">
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Người sở hữu tiềm năng</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.owner%>" type="email" name="owner" id="">
                            </div>
                            <div class="title__column_two"><label for="">Trạng thái *</label></div>
                            <div class="row_two__select">
                                <select name="status" id="">
                                    <option value="potential" <%=dataUser.status==='potential' ? 'selected' : '' %>
                                        >Khách hàng tiềm năng</option>
                                    <option value="open" <%=dataUser.status==='open' ? 'selected' : '' %>>Đã mở</option>
                                    <option value="responded" <%=dataUser.status==='responded' ? 'selected' : '' %>>Đã
                                        phản hồi</option>
                                    <option value="opportunity" <%=dataUser.status==='opportunity' ? 'selected' : '' %>
                                        >Cơ
                                        hội</option>
                                    <option value="quote" <%=dataUser.status==='quote' ? 'selected' : '' %>>Báo giá
                                    </option>
                                    <option value="lost_quote" <%=dataUser.status==='lost_quote' ? 'selected' : '' %>
                                        >Mất
                                        Báo giá</option>
                                    <option value="care" <%=dataUser.status==='care' ? 'selected' : '' %>>Quan tâm
                                    </option>
                                    <option value="convert" <%=dataUser.status==='convert' ? 'selected' : '' %>>Chuyển
                                        đổi
                                    </option>
                                    <option value="no_contact" <%=dataUser.status==='no_contact' ? 'selected' : '' %>
                                        >Không liên hệ</option>
                                </select>
                            </div>
                            <div class="title__column_two"><label for="">Xưng hô</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.salutation%>" type="text" name="salutation" id="">
                            </div>
                            <div class="title__column_two"><label for="">Chức vụ</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.position%>" type="text" name="position" id="">
                            </div>
                            <div class="title__column_two"><label for="">Giới tính</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.gender%>" type="text" name="gender" id="">
                            </div>
                            <div class="title__column_two"><label for="">Nguồn</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.source%>" type="text" name="source" id="">
                            </div>
                            <div class="title__column_two"><label for="">Chiến dịch</label></div>
                            <div class="row_two__input">
                                <input value="<%= dataUser.campaign%>" type="text" name="campaign" id="">
                            </div>
                        </div>


                    </div>
                    <!-- cop -->

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <h4>Theo sát</h4>
                            <div class="title__column_two"><label for="">Liên hệ tiếp theo bằng</label></div>
                            <div class="row_two__input">
                                <input type="text" name="next_contact" id="" value="<%= dataUser.next_contact%>">
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Ngày liên hệ tiếp theo</label></div>
                            <div class="row_two__input">
                                <input type="date" name="next_at" id="" value="<%= dataUser.next_at%>">
                            </div>
                            <div class="title__column_two"><label for="">Kết thúc vào</label></div>
                            <div class="row_two__input">
                                <input type="date" name="end_at" id="" value="<%= dataUser.end_at%>">
                            </div>
                        </div>
                    </div>

                    <div class="content__row_two">
                        <!-- Form 3 Ghi chú -->
                        <div class="collapsible-section">
                            <h2 class="section-title">
                                Ghi Chú
                                <span class="toggle-icon">▼</span>
                            </h2>
                            <div class="section-content">
                                <textarea name="notes" id="editor"><%= dataUser.notes %></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Loại địa chỉ</label></div>
                            <div class="row_two__select">
                                <select name="address_type" id="">
                                    <option value="payment" <%=dataUser.address_type==='payment' ? 'selected' : '' %>
                                        >Thanh toán</option>
                                    <option value="shipping" <%=dataUser.address_type==='shipping' ? 'selected' : '' %>
                                        >vận chuyển</option>
                                    <option value="office" <%=dataUser.address_type==='office' ? 'selected' : '' %>>Văn
                                        phòng</option>
                                    <option value="personal" <%=dataUser.address_type==='personal' ? 'selected' : '' %>
                                        >Cá nhân</option>
                                    <option value="factory" <%=dataUser.address_type==='factory' ? 'selected' : '' %>
                                        >Nhà máy</option>
                                    <option value="postal" <%=dataUser.address_type==='postal' ? 'selected' : '' %>>Bưu
                                        chính</option>
                                    <option value="store" <%=dataUser.address_type==='store' ? 'selected' : '' %>>Cửa
                                        hàng</option>
                                    <option value="convert" <%=dataUser.address_type==='convert' ? 'selected' : '' %>
                                        >Chuyển đổi</option>
                                    <option value="subsidiary" <%=dataUser.address_type==='subsidiary' ? 'selected' : ''
                                        %>>Công ty con</option>
                                    <option value="warehouse" <%=dataUser.address_type==='warehouse' ? 'selected' : ''
                                        %>>Kho hàng</option>
                                    <option value="current" <%=dataUser.address_type==='current' ? 'selected' : '' %>
                                        >Hiện tại</option>
                                    <option value="longterm" <%=dataUser.address_type==='longterm' ? 'selected' : '' %>
                                        >Dài hạn</option>
                                    <option value="other" <%=dataUser.address_type==='other' ? 'selected' : '' %>>Khác
                                    </option>
                                </select>
                            </div>
                            <div class="title__column_two"><label for="">Tên địa chỉ</label></div>
                            <div class="row_two__input">
                                <input type="text" name="address_name" id="" value="<%= dataUser.address_name%>">
                            </div>
                            <div class="title__column_two"><label for="">Địa chỉ line 1</label></div>
                            <div class="row_two__input">
                                <input type="text" name="street_address1" id="" value="<%= dataUser.street_address1%>">
                            </div>
                            <div class="title__column_two"><label for="">Địa chỉ line 2</label></div>
                            <div class="row_two__input">
                                <input type="text" name="street_address2" id="" value="<%= dataUser.street_address2%>">
                            </div>
                            <div class="title__column_two"><label for="">Thành phố / thị xã</label></div>
                            <div class="row_two__input">
                                <input type="text" name="city" id="" value="<%= dataUser.city%>">
                            </div>
                            <div class="title__column_two"><label for="">Quận</label></div>
                            <div class="row_two__input">
                                <input type="text" name="district" id="" value="<%= dataUser.district%>">
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Tiểu bang</label></div>
                            <div class="row_two__input">
                                <input type="text" name="state_province" id="" value="<%= dataUser.state_province%>">
                            </div>
                            <div class="title__column_two"><label for="">Quốc gia</label></div>
                            <div class="row_two__input">
                                <input type="text" name="country" id="" value="<%= dataUser.country%>">
                            </div>
                            <div class="title__column_two"><label for="">mã bưu chính</label></div>
                            <div class="row_two__input">
                                <input type="text" name="postal_code" id="" value="<%= dataUser.postal_code%>">
                            </div>
                        </div>
                    </div>

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Chuyển tiếp</label></div>
                            <div class="row_two__input">
                                <input type="text" name="forward" id="" value="<%= dataUser.forward%>">
                            </div>
                            <div class="title__column_two"><label for="">Số điện thoại di động</label></div>
                            <div class="row_two__input">
                                <input type="text" name="mobile_phone" id="" value="<%= dataUser.mobile_phone%>">
                            </div>
                            <div class="title__column_two"><label for="">Fax</label></div>
                            <div class="row_two__input">
                                <input type="text" name="fax" id="" value="<%= dataUser.fax%>">
                            </div>
                            <div class="title__column_two"><label for="">Website</label></div>
                            <div class="row_two__input">
                                <input type="text" name="website" id="" value="<%= dataUser.website%>">
                            </div>
                        </div>

                        <div class="content__column_two">

                        </div>
                    </div>

                    <div class="content__row_two">
                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Loại tiềm năng</label></div>
                            <div class="row_two__select">
                                <select name="lead_type" id="">
                                    <option value="undefined" <%=dataUser.lead_type==='undefined' ? 'selected' : '' %>>
                                    </option>
                                    <option value="customer" <%=dataUser.lead_type==='customer' ? 'selected' : '' %>
                                        >Khách hàng</option>
                                    <option value="partner" <%=dataUser.lead_type==='partner' ? 'selected' : '' %>>Đối
                                        tác</option>
                                    <option value="adviser" <%=dataUser.lead_type==='adviser' ? 'selected' : '' %>>Tư
                                        vấn</option>
                                </select>
                            </div>
                            <div class="title__column_two"><label for="">Phân khúc thị trường</label></div>
                            <div class="row_two__input">
                                <input type="text" name="market_segment" id="" value="<%= dataUser.market_segment%>">
                            </div>
                            <div class="title__column_two"><label for="">Ngành công nghiệp</label></div>
                            <div class="row_two__input">
                                <input type="text" name="industry" id="" value="<%= dataUser.industry%>">
                            </div>
                            <div class="title__column_two"><label for="">Yêu cầu loại</label></div>
                            <div class="row_two__select">
                                <select name="request_type" id="" value="<%= dataUser.request_type%>">
                                    <option value="undefined" <%=dataUser.request_type==='undefined' ? 'selected' : ''
                                        %>></option>
                                    <option value="order" <%=dataUser.request_type==='order' ? 'selected' : '' %>>Đặt
                                        hàng sản phẩm</option>
                                    <option value="information_request" <%=dataUser.request_type==='information_request'
                                        ? 'selected' : '' %>>Yêu cầu thông tin</option>
                                    <option value="propose" <%=dataUser.request_type==='propose' ? 'selected' : '' %>>Đề
                                        xuất</option>
                                    <option value="other" <%=dataUser.request_type==='other' ? 'selected' : '' %>>Khác
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="content__column_two">
                            <div class="title__column_two"><label for="">Công ty</label></div>
                            <div class="row_two__input">
                                <input type="text" name="company" id="" value="<%= dataUser.company%>">
                            </div>
                            <div class="title__column_two"><label for="">Quốc gia</label></div>
                            <div class="row_two__input">
                                <input type="text" name="nation" id="" value="<%= dataUser.nation%>">
                            </div>
                            <div class="title__column_two"><label for="">Ngôn ngữ in</label></div>
                            <div class="row_two__input">
                                <input type="text" name="print_language" id="" value="<%= dataUser.print_language%>">
                            </div>
                            <div class="row_two__checkbox">
                                <input type="checkbox" name="unsubscribe" id="" <%=dataUser.unsubscribe=='1' ? 'checked'
                                    : '' %> >
                                <label for="">Hủy đăng ký</label>
                            </div>
                            <div class="row_two__checkbox">
                                <input type="checkbox" name="followed_blog" id="" <%=dataUser.followed_blog=='1'
                                    ? 'checked' : '' %> >
                                <label for="">Người theo dõi blog</label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" value="<%= dataUser.id %>" hidden name="id" />
            </div>
        </form>
    </div>

    <script src="/js/update_Lead.js">
    </script>
    <script>
        const fileInput = document.getElementById('up_file-item');
        const fileNameDisplay = document.getElementById('file-name-display');

        fileInput.addEventListener('change', function () {
            if (this.files && this.files.length > 0) {
                fileNameDisplay.textContent = this.files[0].name;
            } else {
                fileNameDisplay.textContent = '';
            }
        });
    </script>
</body>

</html>